<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container">
    <a class="navbar-brand fw-bold text-primary" [routerLink]="['/']">
      BridgeMedic
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="getUserRoles().length">
          <a class="nav-link" [routerLink]="['/user/search']">Пошук Лікаря</a>
        </li>
        <li class="nav-item" *ngIf="getUserRoles().length">
          <a class="nav-link" [routerLink]="['/user/chat']">Мої Чати</a>
        </li>
        <li class="nav-item" *ngIf="!getUserRoles().length">
          <a class="nav-link" (click)="openModalLogin()">Логін</a>
        </li>
        <li class="nav-item" *ngIf="!getUserRoles().length">
          <a class="nav-link" (click)="openModalRegister()">Реєстрація</a>
        </li>

        <li class="nav-item" *ngIf="getUserRoles().length">
          <a class="nav-link" [routerLink]="['/user/consultations']">Мої Консультації</a>
        </li>

        <li class="nav-item" *ngIf="hasRole('SPECIALIST')">
          <a class="nav-link" [routerLink]="['/doctor']">Для Лікаря</a>
        </li>
        <li class="nav-item" *ngIf="hasRole('SUPPORT')">
          <a class="nav-link" [routerLink]="['/support']">Для підтримки</a>
        </li>
        <li class="nav-item" *ngIf="hasRole('ADMIN')">
          <a class="nav-link" [routerLink]="['/admin']">Для адміністратора</a>
        </li>
        <li class="nav-item" *ngIf="getUserRoles().length">
          <a class="nav-link" [routerLink]="['/settings']">Налаштування</a>
        </li>
        <li class="nav-item" *ngIf="getUserRoles().length">
          <a class="nav-link text-danger" (click)="logout()">Вихід</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<app-login-modal #loginModal></app-login-modal>
<app-register-modal #registerModal></app-register-modal>