<div #lModalRegister
     class="login-overlay position-fixed top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-start visually-hidden"
     style="background-color: rgba(0, 0, 0, 0.6); z-index: 1050;">
  <div class="login-modal bg-white rounded shadow p-4 mt-5 position-relative" style="width: 100%; max-width: 500px;">
    <button (click)="close()" type="button" class="btn-close position-absolute top-0 end-0 m-3" aria-label="Close"></button>

    <h3 class="text-center text-primary mb-3">Реєстрація в BridgeMedic</h3>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">
      <div class="mb-3">
        <label class="form-label" for="register-firstname">Ім’я</label>
        <input id="register-firstname" formControlName="firstname" type="text" class="form-control" placeholder="Введіть ім’я">
      </div>

      <div class="mb-3">
        <label class="form-label" for="register-lastname">Прізвище</label>
        <input id="register-lastname" formControlName="lastname" type="text" class="form-control" placeholder="Введіть прізвище">
      </div>

      <div class="mb-3">
        <label class="form-label" for="register-login">Логін</label>
        <input id="register-login" formControlName="login" type="text" class="form-control" placeholder="Введіть логін">
      </div>

      <div class="mb-3">
        <label class="form-label" for="register-email">Email</label>
        <input id="register-email" formControlName="email" type="email" class="form-control" placeholder="example@domain.com">
      </div>

      <div class="mb-3">
        <label class="form-label" for="register-password">Пароль</label>
        <input id="register-password" formControlName="password" type="password" class="form-control" placeholder="********">
      </div>

      <div class="mb-3">
        <label class="form-label" for="register-passwordRepeat">Повторіть пароль</label>
        <input id="register-passwordRepeat" formControlName="passwordRepeat" type="password" class="form-control" placeholder="********">
      </div>

      <div class="d-grid">
        <button type="submit" class="btn btn-success" [disabled]="registerForm.invalid">Зареєструватися</button>
      </div>
    </form>
  </div>
</div>
