<div #lModalLogin class="modal-register-wrapper">
  <div>
    <div style="background-color: aqua;">
      <div>
        <div>
          <!-- LOGIN FORM -->
          <div>
            <div>
              <h1>Login</h1>
              <p>Sign In to your account</p>
              <form [formGroup]="form" (ngSubmit)="onSubmitLogin()">
                <div>
                  <label>Email:</label>
                  <input type="email" formControlName="email" placeholder="Email">
                </div>
                <div>
                  <label>Password:</label>
                  <input type="password" formControlName="password" placeholder="Password">
                </div>
                <div>
                  <button type="submit">Login</button>
                  <button type="button">Forgot password?</button>
                </div>
              </form>
              <button (click)="close()" type="button">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
