<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<footer class="footer_area section_padding_130_0">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="single-footer-widget section_padding_0_130">
          <div class="footer-logo mb-3"></div>
          <p>BridgeMedic — це сучасна, зручна та функціональна вебплатформа для організації медичних консультацій, яка поєднує легкість користування з гнучкістю сервісів для пацієнтів і лікарів.</p>
          <div class="copywrite-text mb-5">
            <p class="mb-0">Зроблено <i class="lni-heart mr-1"></i>розробником<a class="ml-1" href="/"> </a> Химичом Володимиром</p>
          </div>
          <div class="footer_social_area">
            <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a>
            <a href="#" data-toggle="tooltip" data-placement="top" title="Skype"><i class="fa fa-skype"></i></a>
            <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg">
        <div class="single-footer-widget section_padding_0_130">
          <h5 class="widget-title">Про нас</h5>
          <div class="footer_menu">
            <ul>
              <li><a href="#">Про компанію</a></li>
              <li><a href="#">Корпоративні продажі</a></li>
              <li><a href="#">Умови та політика</a></li>
              <li><a href="#">Спільнота</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg">
        <div class="single-footer-widget section_padding_0_130">
          <h5 class="widget-title">Підтримка</h5>
          <div class="footer_menu">
            <ul>
              <li><a href="#">Допомога</a></li>
              <li><a href="#">Підтримка</a></li>
              <li><a href="#">Політика конфіденційності</a></li>
              <li><a href="#">Умови користування</a></li>
              <li><a href="#">Центр допомоги</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg">
        <div class="single-footer-widget section_padding_0_130">
          <h5 class="widget-title">Контакти</h5>
          <div class="footer_menu">
            <ul>
              <li><a href="#">Кол-центр</a></li>
              <li><a href="#">Напишіть нам</a></li>
              <li><a href="#">Умови користування</a></li>
              <li><a href="#">Центр підтримки</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</footer>
